.logo {
	opacity: 0.8;

	&__wrapper {
		display: inline-flex;
		align-items: center;
	}

	&__icon {
		margin: 0px 6px 0px 0px;
	}

	&__icon svg {
		width: 19px;
		height: 19px;
		fill: #fff;
	}

	&__name svg {
		width: 117px;
		height: 20px;
		fill: #fff;
	}
}
