// var for null.scss
$fontfamily: "Qanelas", sans-serif;
$minwidth: 380;

// var for global.scss
$container: 1340;
$background: #f3f8ff;

// color

// breakpoints
$desktop: 1440;
$laptop: 1199;
$tablet: 991;
$mobileL: 799;
$mobile: 575;
